# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# Caches
.sass-cache
.DS_Store

# Development environment files
.vagrant
*.sublime-project
*.sublime-workspace
.brackets.json
composer.lock~
node_modules
logs