    <footer class="app-footer">
      <p>&copy; 2015 <a href="http://www.everythingisafractal.com/" target="_blank">Everything is a Fractal</a>. All Rights Reserved.</p>
    </footer>

    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script>window.angular || document.write('<script src="js/lib/angular.min.js"><\/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script>try { angular.module('ui.router') } catch(err) { document.write('<script src="js/lib/angular-ui-router.min.js"><\/script>') }</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.min.js"></script>
    <script>try { angular.module('ngAnimate') } catch(err) { document.write('<script src="js/lib/angular-animate.min.js"><\/script>') }</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-resource.min.js"></script>
    <script>try { angular.module('ngResource') } catch(err) { document.write('<script src="js/lib/angular-resource.min.js"><\/script>') }</script>

    <script src="js/com.app.js"></script>
  </body>
</html>
