<!doctype html>
<html class="no-js" lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mixism</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/modernizr.min.js"></script>
  </head>
  <body>
    <div ng-controller="MixismCtrl" ng-class="rootClass">
      <header class="app-header">
        <h1>
          <a href="/home" ui-sref="home" class="app-logo" title="The social playlist!">#mixism</a>
          <div class="app-search">
            <form class="form-single-input form-search" action="/explore" method="get" title="Explore by #hashtag or @username">
              <input type="text" name="q" value="" placeholder="Explore">
              <button class="button"><i class="fa fa-search"><span class="ir">Search</span></i></button>
            </form>
              <!--<span ng-cloak ng-show="title" class="playlist-title"> / <a href="/play" ng-bind="title"></a></span>-->
          </div>
        </h1>

        <nav class="app-menu">
          <div class="dropdown" ng-class="{'dropdown-open': mainNavOpen}">
            <a href="#" class="dropdown-toggle" ng-click="mainNavOpen = !mainNavOpen">
              <i class="icon-bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <span class="ir">Site Menu</span>
              </i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/home" ui-sref="home">About</a></li>
              <li><a href="/explore" ui-sref="explore">Explore</a></li>
              <li><a href="#!/play" ui-sref="play">Play</a></li>
              <li><a href="#!/play/#bass" ui-sref="play.filter({filter: '#bass'})">#bass</a></li>
              <li><a href="#!/play/@humanPincushion" ui-sref="play.filter({filter: '@humanTestingFoundation'})">@humanTestingFoundation</a></li>
              <li><a href="#" ui-sref="play.info()">Track info</a></li>
              <li><a href="/stuff" ui-sref="stuff">Stuff</a></li>
              <li class="divider"></li>
              <li class="secondary"><a href="http://www.everythingisafractal.com/" target="_blank" title="Check out our cool minimalist homepage, hu hu hu hu">
                <label>#mixism v1.0.0 made by</label>
                Everything is a Fractal
              </a></li>
              <li class="secondary"><a href="http://www.twitter.com/_eiaf" target="_blank" title="Follow Everything Is A Fractal on Twitter"><i class="fa fa-twitter"></i> @_eiaf</a></li>
            </ul>
          </div>
        </nav>
      </header>