<!doctype html>
<html class="no-js" lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mixism</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/modernizr.min.js"></script>
  </head>
  <body>
    <div class="page-wrap" ng-controller="MixismCtrl as mixism">
      <header class="row">
        <div class="medium-6 large-4 columns">
          <h1>#Mixism</h1>
        </div>
        <nav class="medium-6 large-8 columns">
          <ul class="nav">
            <li><a href="/home" ui-sref="home">Home</a></li>
            <li><a href="/play" ui-sref="play">Play</a></li>
            <li><a href="/play/test" ui-sref="play.filter">Test filter</a></li>
          </ul>
        </nav>
      </header>