<section class="playlist">
  <div class="loading" ng-show="loading">
    <div class="loading-hangloose">Loading...</div>
  </div>
  <div mx-no-results ng-if="!loading" ng-hide="currentPlaylist | objLen"></div>
  <div class="track-list">
    <article mx-track class="track" ng-class="{'now-playing': (currentPlaylistInfo.current == key), 'oembed-inprog': !oembedComplete, 'oembed-complete': oembedComplete}" ng-repeat="(key, track) in currentPlaylist track by $index" ng-show="media" ng-click="playTrack(key)"></article>
  </div>
</section>
