<div class="trackinfo">
  <div class="trackinfo-inner">
    <a href="#" class="btn-close" ng-click="closeThisDialog()">&times;</a>

    <div class="track">
      <div class="track-artwork">
        <img ng-src="{{modal.media.artwork}}" class="media-artwork" ng-alt="modal.media.title">
        <div class="track-status">
          <i class="fa fa-play" ng-click="playTrack(modal.track.key)">
            <span class="ir">Play</span>
          </i>
        </div>
      </div>
      <div class="track-summary">
        <h1 class="media-title"><span ng-bind="modal.media.title"></span></h1>
        <h2 class="media-author">
          <a href="{{modal.media.authorUrl}}" target="_blank"><span ng-bind="modal.media.author"></span></a>
        </h2>
        <a href="{{modal.media.authorUrl}}" target="_blank" class="media-src"><i class="fa fa-soundcloud media-icon" title="SoundCloud"></i> View on SoundCloud</a>
      </div>
    </div>

    <div class="social">

      <div class="social-post">
        <h3 class="post-src">
          <i class="fa fa-twitter media-icon" title="Twitter"></i>
          <a href="https://twitter.com/{{modal.track.user.handle}}/status/{{modal.track.key}}" target="_blank" class="post-user">@<span ng-bind="modal.track.user.handle"></span></a> - <a href="https://twitter.com/{{modal.track.user.handle}}/status/{{modal.track.key}}" target="_blank" class="post-time" ng-bind="modal.track.created | date : 'MMM d'"></a>
        </h3>
        <div class="post-content">
          <p ng-bind-html="modal.track.trustedHtmlText"></p>
        </div>
      </div>

      <!--
      <div class="social-post">
        <h3 class="post-src">
          <i class="fa fa-twitter media-icon" title="Twitter"></i><a href="#" target="_blank" class="post-user">@<span>Username</span></a> - <a href="#" target="_blank" class="post-time">Jan 20</a>
        </h3>
        <div class="post-content">
          <p>The contents of the social media post go in here. <a href="#">#thisisahashtag</a> Supercalifragilisticexpialidocious right</p>
        </div>
      </div>
      -->

    </div>
  </div>
</div>



