// ## general classes.

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ir {
  // image replacement.
  display: none;
  overflow: hidden;
  text-indent: -100em;
}

// text alignment, shortcuts for .text-left etc.
.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

a p {
  color: $jet;
}

table {
  width: 100%;
}

// buttons.
.btn {
  display: inline-block;
  padding: rem-calc(8 20);
  background-color: $primary-color;
  border: 0;
  border-radius: $global-radius;
  color: #fff;
  font-size: rem-calc(14);
  font-weight: 600;
  text-transform: uppercase;
  transition: background .15s;

  &.btn-blue {
    background-color: $primary-color;

    &:hover {
      background: rgba($primary-color, .8);
    }
  }

  &.btn-green {
    background-color: $green;

    &:hover {
      background-color: rgba($green, .8);
    }
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.btn-clear {
    background-color: transparent;
    color: $jet;
    line-height: rem-calc(20);

    &:hover {
      color: inherit;
    }
  }
}

.app-header,
.app-content,
.app-footer {
  width: 100%;
  min-width: 320px;
  max-width: none;
}

.app-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  h1 {
    position: absolute;
    left: 0;
    top: 0;
    font-size: rem-calc(24);
    margin: rem-calc(7) rem-calc( 15 );
  }

  .app-logo {
    color: $black;
    font-weight: bold;

    &:link,
    &:visited {
      color: $black;
    }
  }
}

.app-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: rem-calc(7) rem-calc( 15 );
  text-align: right;
}

.app-footer {
  display: none;
}

.page {
  padding-bottom: rem-calc(100);

  .row {
    min-width: 0;
    max-width: none;
  }
}

.block {
  .row {
    max-width: 1000px;
  }

  // Block - Hero
  &.block-hero {
    height: 80vh;//400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $lpurple; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2MzM5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  $lpurple 0%, $white 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$lpurple), color-stop(100%,$white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $lpurple 0%,$white 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $lpurple 0%,$white 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $lpurple 0%,$white 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $lpurple 0%,$white 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$white',GradientType=0 ); /* IE6-8 */
    text-align: center;

    h1 { font-size: rem-calc(64); }
    h2 { font-size: rem-calc(56); }
    h3 { font-size: rem-calc(48); }
    h4 { font-size: rem-calc(40); }
    h5,
    h6,
    p {  font-size: rem-calc(32); }
  }

  // Block - Centered
  &.block-center {
    text-align: center;

    .row {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }
  }

  // Block - Small
  &.block-small {
    font-size: rem-calc(16);

    h1 { font-size: rem-calc(32) }
    h2 { font-size: rem-calc(28) }
    h3 { font-size: rem-calc(24) }
    h4 { font-size: rem-calc(21) }
    h5 { font-size: rem-calc(18) }
    h6,
    p {  font-size: rem-calc(16) }
  }
}

.copy-point {
  margin-bottom: rem-calc(56);

  p {
    font-size: rem-calc(24);
    line-height: 1.4;
  }
}

.form-single-input {
  min-width: rem-calc(300);
  max-width: rem-calc(600);
  height: rem-calc(50);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  position: relative;
  clear: both;
  overflow: hidden;

  background: $white;
  border: solid rem-calc(3) $black;
  border-radius: rem-calc(50);
  box-sizing: border-box;
  color: $black;
  vertical-align: top;

  .indicates-required { display: none; }

  input[type="text"],
  input[type="email"] {
    display: block;
    width: 100%;
    height: 100%;
    padding: rem-calc(3) rem-calc(50) rem-calc(3) rem-calc(3);
    margin: 0;

    position: absolute;
    left: 0;
    top: 0;

    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: $black;
    font-size: rem-calc(18);
    line-height: rem-calc(38);
    text-align: center;
  }

  .button {
    display: block;
    width: rem-calc(38);
    min-width: 0;
    height: rem-calc(38);
    margin: rem-calc(3);
    padding: 0;

    position: absolute;
    right: 0;
    top: 0;

    border-radius: rem-calc(38);
    color: $white;
    background-color: $black;
    font-size: rem-calc(12);
    line-height: rem-calc(38);

    &:hover,
    &:focus {
      background-color: $primary-color;
    }

    &:active {
      background-color: $secondary-color;
    }
  }
}

.form-explore {
  width: rem-calc(400);
}

.form-newsletter {
  width: rem-calc(300);
  margin-bottom: 3rem;
}

.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: rem-calc(32) !important;
}

.track {
  padding: rem-calc(10);

  .media-artwork {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    vertical-align: top;
  }

  .track-status {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: fade-out( $white, 0.8 );
    color: $primary-color;
    line-height: 100%;
    opacity: 0;
    text-align: center;
    vertical-align: middle;

    transition: opacity 0.2s;
  }

  &:hover {
    .track-status {
      opacity: 1;
    }
  }

  .track-artwork {
    width: rem-calc(60);
    height: rem-calc(60);
    margin-right: rem-calc(10);
  }

  .media-icon {
    display: inline-block;
    margin-right: rem-calc(5);
  }

  .media-title {
    overflow: hidden;
    font-size: rem-calc(16);
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .media-author {
    font-size: rem-calc(14);
    font-weight: normal;
  }

  .media-src {
    font-size: rem-calc(12);
    font-weight: normal;
  }

  .track-info {
    display: block;
    width: rem-calc(50);
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    color: $grey;
    line-height: rem-calc(50);
    text-align: center;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    &:active {
      color: $secondary-color;
    }
  }
}

/* Desktop
.player {
  display: block;
  width: 100%;
  height: rem-calc(80);

  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 120;

  background: $white;
  box-shadow: 0 0 rem-calc(100) fade-out( $black, 0.9 );

  .player-progress {
    width: 100%;
    height: rem-calc(20);

    position: absolute;
    left: 0;
    top: 0;

    &:hover {
      .player-position,
      .player-position-handle {
        background-color: $secondary-color;
      }
    }
  }

  .player-duration {
    width: 100%;
    height: rem-calc(6);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background: $grey;
  }

  .player-position {
    width: 50%;
    height: rem-calc(6);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    background: $primary-color;
  }

  .player-position-handle {
    width: rem-calc(20);
    height: rem-calc(20);
    margin: 0 0 0 rem-calc(-10);

    position: absolute;
    left: 50%;
    top: rem-calc(-6);
    z-index: 10;

    background: $primary-color;
    border: solid 3px $white;
    border-radius: rem-calc(20);
  }

  .player-ctrls {
    margin: 0 rem-calc(20);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;

    font-size: rem-calc(40);
    line-height: rem-calc(80);
    vertical-align: middle;

    a:link,
    a:visited {
      color: $grey;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }

    a:active {
      color: $secondary-color;
    }

    .fa-play,
    .fa-pause {
      text-align: center;
      width: rem-calc(80);
    }

    .fa-pause { display: none; }

    .fa-step-backward,
    .fa-step-forward {
      font-size: rem-calc(24);
      vertical-align: middle;
    }
  }

  .track {
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    text-align: center;

    .media-title {
      font-size: rem-calc(16);
      font-weight: bold;
      margin: 0;
    }

    .media-author {
      font-size: rem-calc(14);
      margin: 0;
    }

    .media-src {
      font-size: rem-calc(12);
      margin: 0;
    }
  }

  .track-artwork {
    float: right;
    //margin-right: rem-calc(20);
  }
}*/

// Player - Mobile
.player {
  display: block;
  width: 100%;
  height: rem-calc(70);

  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 120;

  background: fade-out( $white, 0.05 );
  box-shadow: 0 0 rem-calc(100) fade-out( $black, 0.9 );

  .player-progress {
    width: 100%;
    height: rem-calc(20);

    position: absolute;
    left: 0;
    top: 0;

    &:hover {
      .player-position,
      .player-position-handle {
        background-color: $secondary-color;
      }
    }
  }

  .player-duration {
    width: 100%;
    height: rem-calc(6);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background: $grey;
  }

  .player-position {
    width: 50%;
    height: rem-calc(6);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    background: $primary-color;
  }

  .player-position-handle {
    width: rem-calc(20);
    height: rem-calc(20);
    margin: 0 0 0 rem-calc(-10);

    position: absolute;
    left: 50%;
    top: rem-calc(-6);
    z-index: 10;

    background: $primary-color;
    border: solid 3px $white;
    border-radius: rem-calc(20);
  }

  .player-ctrls {
    width: rem-calc(300);
    margin-left: rem-calc(-150);

    position: absolute;
    left: 50%;
    top: 0;
    z-index: 15;

    font-size: rem-calc(30);
    line-height: rem-calc(60);
    vertical-align: middle;

    a:link,
    a:visited {
      color: $grey;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }

    a:active {
      color: $secondary-color;
    }

    .player-playpause {
      display: inline-block;
      text-align: center;
      width: rem-calc(200);
    }

    .fa-pause { display: none; }

    .player-backward,
    .player-forward {
      display: inline-block;
      width: rem-calc(40);
      font-size: rem-calc(24);
      text-align: center;
    }

    .player-backward {
      text-align: right;
    }
    .player-forward {
      text-align: left;
    }
  }

  .track {
    width: 100%;
    margin-top: rem-calc(8);

    text-align: left;

    .media-title {
      font-size: rem-calc(16);
      font-weight: bold;
      margin: 0;
    }

    .media-author {
      display: none;
      font-size: rem-calc(14);
      margin: 0;
    }

    .media-src {
      font-size: rem-calc(12);
      margin: 0;
    }
  }

  .track-artwork {
    width: rem-calc(40);
    height: rem-calc(40);
    float: left;
  }

  .track-info {
    position: absolute;
    right: 0;
    top: rem-calc(10);
    font-size: rem-calc(36);
  }
}

.playlist {
  width: rem-calc(320);
  margin: 0 auto;

  .track {
    position: relative;
    border-bottom: solid rem-calc(1) $lgrey;
  }

  .track-artwork,
  .media-author {
    display: none;
  }

  .media-icon {
    width: rem-calc(30);
    text-align: right;
  }

  .track-summary {
    margin-right: rem-calc(50);
  }
}

.trackinfo {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  overflow: auto;

  background: fade-out( $white, 0.8 );

  .trackinfo-inner {
    width: rem-calc(300);
    margin: 0 auto;
    background: $white;
  }

  .btn-close {
    position: fixed;
    right: rem-calc(10);
    top: rem-calc(10);
    font-size: rem-calc(64);
    line-height: 0.8;
  }

  .track {
    clear: both;
    overflow: hidden;
    border-bottom: solid rem-calc(1) $lgrey;

    .track-artwork {
      display: block;
      width: rem-calc(40);
      height: rem-calc(40);
      position: relative;
      float: left;
    }

    .track-summary {
      width: rem-calc(230);
      float: left;
    }
  }

  .social {

  }

  .social-post {
    border-bottom: solid rem-calc(1) $lgrey;
    padding: rem-calc(10);

    .post-src {
      font-size: rem-calc(16);
      margin: 0 0 rem-calc(10);
    }

    .post-content {
      margin: rem-calc(10) 0;
    }

    .media-icon {
      display: inline-block;
      margin-right: rem-calc(5);
    }
  }
}
