// ## general classes.

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ir {
  // image replacement.
  display: none;
  overflow: hidden;
  text-indent: -100em;
}

// text alignment, shortcuts for .text-left etc.
.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

a p {
  color: $jet;
}

table {
  width: 100%;
}

// buttons.
.btn {
  display: inline-block;
  padding: rem-calc(8 20);
  background-color: $primary-color;
  border: 0;
  border-radius: $global-radius;
  color: #fff;
  font-size: rem-calc(14);
  font-weight: 600;
  text-transform: uppercase;
  transition: background .15s;

  &.btn-blue {
    background-color: $primary-color;

    &:hover {
      background: rgba($primary-color, .8);
    }
  }

  &.btn-green {
    background-color: $green;

    &:hover {
      background-color: rgba($green, .8);
    }
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.btn-clear {
    background-color: transparent;
    color: $jet;
    line-height: rem-calc(20);

    &:hover {
      color: inherit;
    }
  }
}

html, body {
  min-height: rec-calc(140);
}

.app-header,
.app-content,
.app-footer {
  width: 100%;
  min-width: 320px;
  max-width: none;
}

.app-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.app-logo {
  margin: rem-calc(7) rem-calc(15);
  position: absolute;
  left: 0;
  top: 0;
  font-size: rem-calc(24);
  line-height: rem-calc(46);
  vertical-align: middle;
  visibility: hidden;

  color: $black;
  font-weight: bold;

  a:link,
  a:visited {
    color: $black;
  }
}

@media #{$small-only} {
  .app-logo {
    display: none;
  }
}

.app-menu {
  position: fixed;
  right: 0;
  top: 0;

  .icon-bars {
    display: block;
    width: 100%;
    height: 100%;
    padding: rem-calc(9) 0;
    margin: 0;

    div {
      display: block;
      width: rem-calc(20);
      height: rem-calc(3);
      margin: rem-calc(3) auto;

      background: $black;

      transition: background-color 0.2s;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background: $primary-color;

      div {
        background-color: $white;
      }
    }
  }

  .dropdown {
    margin: rem-calc(16) rem-calc(16);
  }

  .dropdown-toggle {
    display: block;
    width: rem-calc(32);
    height: rem-calc(32);
  }

  .dropdown-menu {
    margin-top: rem-calc(32);
    left: auto;
    right: 0;
    float: right;
  }

  .dropdown-open {
    .dropdown-toggle .icon-bars div {
      background-color: $white;
    }
  }
}

.app-footer {
  display: none;
}

.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: rem-calc(32) !important;
}

.hangloose {
  display: inline-block;
  width: rem-calc(58);
  height: rem-calc(35);
  background: transparent url('/img/hangloose-grey.svg') no-repeat center center;
  line-height: rem-calc(35);
}

.hangloose-black {
  display: inline-block;
  width: rem-calc(58);
  height: rem-calc(35);
  background: transparent url('/img/hangloose-black.svg') no-repeat center center;
  line-height: rem-calc(35);
}

.loading {
  display: flex;
  align-items: middle;
  justify-items: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  vertical-align: middle;
}

.loading-hangloose {
  display: block;
  width: rem-calc(72);
  height: rem-calc(48);
  background-image: url('/img/anim-loading-72x48.gif');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: left;
  text-indent: -1000em;
}
