// ## general classes.

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ir {
  // image replacement.
  display: none;
  overflow: hidden;
  text-indent: -100em;
}

// text alignment, shortcuts for .text-left etc.
.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

a p {
  color: $jet;
}

table {
  width: 100%;
}

// buttons.
.btn {
  display: inline-block;
  padding: rem-calc(8 20);
  background-color: $primary-color;
  border: 0;
  border-radius: $global-radius;
  color: #fff;
  font-size: rem-calc(14);
  font-weight: 600;
  text-transform: uppercase;
  transition: background .15s;

  &.btn-blue {
    background-color: $primary-color;

    &:hover {
      background: rgba($primary-color, .8);
    }
  }

  &.btn-green {
    background-color: $green;

    &:hover {
      background-color: rgba($green, .8);
    }
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.btn-clear {
    background-color: transparent;
    color: $jet;
    line-height: rem-calc(20);

    &:hover {
      color: inherit;
    }
  }
}

.app-header,
.app-content,
.app-footer {
  width: 100%;
  min-width: 320px;
  max-width: none;
}

.app-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  h1 {
    position: absolute;
    left: 0;
    top: 0;
    font-size: rem-calc(24);
    margin: rem-calc(7) rem-calc( 15 );
  }

  .app-logo {
    color: $black;
    font-weight: bold;

    &:link,
    &:visited {
      color: $black;
    }
  }
}

.app-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: rem-calc(7) rem-calc( 15 );
  text-align: right;
}

.app-footer {
  display: none;
}

.copy-point {
  margin-bottom: rem-calc(56);

  p {
    font-size: rem-calc(24);
    line-height: 1.4;
  }
}

.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: rem-calc(32) !important;
}

.peace-out-dude {
  font-size: rem-calc(48);
}
