.playlist {

  .track-list {
    border-top: solid rem-calc(1) $lgrey;
    margin-top: rem-calc(64);
  }

  .track {
    position: relative;
    background: $white;
    border-bottom: solid rem-calc(1) $lgrey;
    cursor: pointer;

    &.now-playing {
      background-color: lighten( $primary-color, 50% );
    }

    &:hover,
    &:focus {
      background-color: lighten( $lgrey, 15% );
    }

    &:active {
      background-color: lighten( $lgrey, 10% );
    }
  }

  .track-artwork,
  .media-author {
    display: none;
  }

  .media-icon {
    width: rem-calc(30);
    text-align: right;
  }

  .track-summary {
    margin-right: rem-calc(50);
  }
}
