.playlist {

  .playlist-name {
    color: $grey;
  }

  .track-list {
    border-top: solid rem-calc(1) $lgrey;
  }

  .track {
    position: relative;
    background: $white;
    border-bottom: solid rem-calc(1) $lgrey;

    &.now-playing {
      background-color: lighten( $primary-color, 50% );
    }

    &:hover,
    &:focus {
      background-color: lighten( $primary-color, 55% );
    }

    &:active {
      background-color: lighten( $lgrey, 10% );
    }
  }

  .media-title,
  .media-author,
  .media-src {
    line-height: 1.2em;
  }

  .media-icon {
    width: rem-calc(20);
    text-align: right;
  }

  .track-summary {
    margin: rem-calc(10) 0;
  }

  .track-info {
    @include widthHeight( rem-calc(50), rem-calc(80) );
  }
}
