.view-player {
  background: #eeeeee; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #eeeeee 0%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fafafa',GradientType=0 ); /* IE6-8 */

  .app-header {
    height: rem-calc(64);
    background: $white;
    border-bottom: solid rem-calc(1) $lgrey;
  }

  .app-content {
    padding-top: rem-calc(63);
  }
}

// Player
.player {
  display: block;
  width: 100%;
  height: 0;

  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 120;

  background: fade-out( $white, 0.05 );
  box-shadow: 0 0 rem-calc(100) fade-out( $black, 0.9 );

  transition: height 0.2s;

  .row {
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  &.playlist-loaded {
    height: rem-calc(70);

    .player-position,
    .player-duration {
      height: rem-calc(6);
    }
  }

  // Track buffering
  &.track-buffering {
    .player-position {
      display: none;
    }

    .player-duration {
      background-color: $primary-color;
      background-image: url('/img/anim-buffer-13x13.gif');
      background-repeat: repeat-x;
      background-position: left top;
      opacity: 0.5;
    }
  }

  .player-progress {
    width: 100%;
    height: rem-calc(20);

    position: absolute;
    left: 0;
    top: 0;

    &:hover {
      .player-position,
      .player-position-handle {
        background-color: $secondary-color;
      }
    }
  }

  .player-duration {
    width: 100%;
    height: rem-calc(1);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background: $lgrey;

    transition: height 0.2s;
  }

  .player-position {
    width: 0;
    height: rem-calc(1);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    background: $primary-color;

    transition: height 0.2s;
  }

  .player-position-handle {
    display: none;  // TODO: convert this to input:range and bind to player control.
    width: rem-calc(20);
    height: rem-calc(20);
    margin: 0 0 0 rem-calc(-10);

    position: absolute;
    left: 50%;
    top: rem-calc(-6);
    z-index: 10;

    background: $primary-color;
    border: solid 3px $white;
    border-radius: rem-calc(20);
  }

  .player-ctrls {
    margin-top: rem-calc(6);
    font-size: rem-calc(30);
    line-height: rem-calc(64);
    vertical-align: middle;

    a:link,
    a:visited {
      color: $grey;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }

    a:active {
      color: $secondary-color;
    }
  }

  .player-playpause {
    text-align: center;
  }

  .player-backward,
  .player-forward {
    font-size: rem-calc(24);
    text-align: center;
  }

  .player-backward {
    text-align: right;
  }
  .player-forward {
    text-align: left;
  }

  .track {
    margin-top: rem-calc(16);
    text-align: left;

    .media-title {
      font-size: rem-calc(16);
      font-weight: bold;
      margin: 0;
    }

    .media-author {
      display: none;
      font-size: rem-calc(14);
      margin: 0;
    }

    .media-src {
      font-size: rem-calc(12);
      margin: 0;
    }

    .media-icon {
      display: inline-block;
      width: rem-calc(20);
      text-align: right;
    }
  }

  .track-artwork {
    @include widthHeight( rem-calc(40), rem-calc(40) );
    margin: 0 rem-calc(10) 0 0;
    line-height: rem-calc(40);
    float: left;
  }

  .media-artwork {
    @include widthHeight( rem-calc(40), rem-calc(40) );
    line-height: rem-calc(40);
  }

  .track-info {
    position: absolute;
    right: 0;
    top: rem-calc(10);
    font-size: rem-calc(36);
  }

  .playlist {
    text-align: right;
    line-height: rem-calc(64);
    vertical-align: middle;
  }

  .playlist-index {
    color: $lgrey;
  }

  .playlist-index-current {
    color: $primary-color;
  }

  .playlist-length {
    color: $grey;
  }
}
