.track {
  //padding: rem-calc(10);

  .row {
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  // Error
  .row.error {
    opacity: 0.2;
  }

  .track-artwork:hover {
    .track-status {
      opacity: 1;
    }
  }

  &.now-playing {
    .track-status {
      background-color: fade-out( $black, 0.5 );
      opacity: 1;
    }
  }

  .track-artwork {
    @include widthHeight( rem-calc(60), rem-calc(60) );
    margin: rem-calc(10);
    position: relative;
    float: left;
    line-height: rem-calc(60);
  }

  .media-artwork {
    display: block;
    @include heightKeepAspect( rem-calc(60) );
    background: $primary-color;
  }

  .track-status {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: fade-out( $white, 0.1 );
    border: solid rem-calc(3) $white;
    box-sizing: border-box;
    color: $primary-color;
    line-height: rem-calc(54);
    opacity: 0;
    text-align: center;
    vertical-align: middle;

    transition: opacity 0.2s;
  }

  .media-icon {
    width: rem-calc(24);
    display: inline-block;
    margin-right: rem-calc(3);
  }

  .media-title {
    overflow: hidden;
    font-size: rem-calc(16);
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;

    a:link,
    a:visited {
      color: $black;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }
  }

  .media-author {
    color: $grey;
    font-size: rem-calc(14);
    font-weight: normal;

    a:link,
    a:visited {
      color: $black;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }
  }

  .media-src {
    color: $grey;
    font-size: rem-calc(12);
    font-weight: normal;

    a:link,
    a:visited {
      color: $grey;
    }

    a:hover,
    a:focus {
      color: $primary-color;
    }
  }

  .track-summary {
    padding-right: rem-calc(50);
    box-sizing: border-box;
  }

  .track-info {
    display: block;
    width: rem-calc(30);
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    color: $grey;
    font-size: rem-calc(32);
    line-height: rem-calc(50);
    text-align: center;
    vertical-align: middle;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    &:active {
      color: $secondary-color;
    }
  }
}
