.ngdialog-theme-mixism {
  .ngdialog-close {
    display: none;
  }
}

.trackinfo {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: rem-calc(64);
  z-index: 110;

  .trackinfo-inner {
    @media #{$small-only} {
      height: calc(100% - 64px);
    }
    @media #{$medium-only} {
      height: calc(100% - 64px);
    }
    @media #{$large-up} {
      height: calc(100% - 64px);
    }
    padding: 0;
    position: relative;
    background-color: $white;
    border-bottom: solid 1px $lgrey;
    overflow: auto;
  }

  .btn-close {
    width: rem-calc(44);
    height: rem-calc(44);
    margin: 0 rem-calc(5);

    position: fixed;
    right: rem-calc(5);
    top: rem-calc(74);
    z-index: 14000;

    background-color: fade-out( $white, 1 );
    border-radius: 9999px;
    color: $dgrey;
    font-size: rem-calc(32);
    line-height: rem-calc(44);
    text-align: center;
    vertical-align: middle;

    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }

    &:active {
      color: $black;
      background-color: $primary-color;
    }
  }

  .trackinfo-fixed {
    width: 100%;
    min-width: 0;
    max-width: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  .track {
    clear: both;
    overflow: hidden;

    background: $white;
    border-bottom: solid rem-calc(1) $lgrey;
    box-shadow: 0 0 rem-calc(50) fade-out( $black, 0.9 );

    .track-artwork {
      display: block;
      @include widthHeight( rem-calc(282), rem-calc(282) );
      padding: 0;
      margin: 2em auto 1em;

      position: relative;
      clear: both;
      float: none;

      border: solid rem-calc(1) $lgrey;
      box-shadow: 0 0 rem-calc(30) fade-out( $black, 0.9 );
      text-align: center;

      &:hover {
        box-shadow: 0 0 rem-calc(30) fade-out( $black, 0.8 );
      }
    }

    .media-artwork {
      display: inline-block;
      @include widthHeight( rem-calc(280), rem-calc(280) );
      vertical-align: top;
    }

    .track-status {
      line-height: rem-calc(280);
      font-size: rem-calc(64);
      text-shadow: 0 0 rem-calc(60) $primary-color;
    }

    .track-summary {
      padding: 0;
      margin-bottom: 2em;
      clear: both;
      text-align: center;
    }

    .media-title {
      height: auto;
      margin-left: rem-calc(50);
      margin-right: rem-calc(50);
      font-size: rem-calc(21);
      line-height: 1.2em;
      white-space: normal;
    }

    .track-src,
    .media-author,
    .media-src {
      font-size: rem-calc(16);
      line-height: 1em;
    }

    .track-src {
      color: $lgrey;

      a:link,
      a:visited {
        color: $grey;
      }

      a:hover,
      a:focus {
        color: $primary-color;
      }

      a:active {
        color: $black;
      }
    }
  }

  .social {
    min-width: rem-calc(300);
    max-width: rem-calc(500);
    margin: 1em auto;
    background-color: $white;
  }

  .social-post {
    padding: rem-calc(10) rem-calc(15);

    .post-src {
      font-size: rem-calc(16);
      margin: 0 0 rem-calc(10);
      text-align: center;
    }

    .post-content {
      margin: rem-calc(10) 0;
    }

    .post-time {
      color: $grey;
      font-size: rem-calc(16);
      font-weight: normal;
    }

    .media-icon {
      display: inline-block;
      width: auto;
      margin-right: 0;
      font-size: rem-calc(21);
    }
  }
}

body.playlist-loaded {
  .trackinfo .trackinfo-inner {
    @media #{$small-only} {
      height: calc(100% - 140px - 64px);
    }
    @media #{$medium-only} {
      height: calc(100% - 140px - 64px);
    }
    @media #{$large-up} {
      height: calc(100% - 70px - 64px);
    }
  }
}
